<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="background:#f3f4f6;padding:30px;font-family:Arial,Helvetica,sans-serif;">

<div style="max-width:650px;margin:auto;background:white;border-radius:10px;overflow:hidden;">

<div th:replace="email/fragments/header :: header"></div>

<div style="padding:40px;">

<h2 style="color:#2563eb;">
Application Submitted Successfully 🎉
</h2>

<p>
Hello <strong th:text="${name}"></strong>,
</p>

<p>
Your internship application has been submitted successfully.
</p>

<table style="width:100%;border-collapse:collapse;margin-top:25px;">

<tr>
<td style="padding:10px;font-weight:bold;">Internship</td>
<td style="padding:10px;" th:text="${internship}"></td>
</tr>

<tr style="background:#f8fafc;">
<td style="padding:10px;font-weight:bold;">Company</td>
<td style="padding:10px;" th:text="${company}"></td>
</tr>

<tr>
<td style="padding:10px;font-weight:bold;">Location</td>
<td style="padding:10px;" th:text="${location}"></td>
</tr>

<tr style="background:#f8fafc;">
<td style="padding:10px;font-weight:bold;">Status</td>
<td style="padding:10px;color:#2563eb;font-weight:bold;">
Pending
</td>
</tr>

</table>

<div style="margin-top:30px;">
<div th:replace="email/fragments/button :: button('View My Applications','http://localhost:5173/applications')"></div>
</div>

</div>

<div th:replace="email/fragments/footer :: footer"></div>

</div>

</body>
</html>