<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body
style="
background:#f3f4f6;
padding:30px;
font-family:Arial;
">

<div
style="
max-width:650px;
margin:auto;
background:white;
border-radius:10px;
overflow:hidden;
">

<div
th:replace="email/fragments/header :: header">
</div>

<div style="padding:40px;">

<h2>

Welcome
<span th:text="${name}"></span>

🎉

</h2>

<p>

Your account has been created successfully.

</p>

<p>

You can now browse internships,
upload resumes,
and apply for opportunities.

</p>

<div
style="margin-top:30px;">

<div
th:replace="email/fragments/button :: button(
'Login',
'http://localhost:5173/login'
)">
</div>

</div>

</div>

<div
th:replace="email/fragments/footer :: footer">
</div>

</div>

</body>

</html>